.App-header {
    background-color: #282c34;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-bar {
    text-align: center;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-bar li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between menu items */
}

.menu-bar li:last-child {
    margin-right: 0;
}

.menu-bar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.menu-bar a:hover {
    background-color: #444;
}


/* App.css or another stylesheet */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.navbar {
    height: 56px;
    display: flex;
    align-items: center;
}
